.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  flex-shrink: 0;
}

.button-container {
  flex: none;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;
  margin: 0 auto;
}

.button-container button {
  flex: 1;
  width: 100px;
  text-align: center;
  padding: 5px 18px;
  position: relative;
}

.button-container button:hover {
  background-color: var(--hover-color);
}

.button-container button:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  width: 1px;
  background-color: #ccc;
}

.vr {
  content: '';
  height: 100%;
  width: 1px;
  background-color: #ccc;
}

#side-menu-button {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#side-menu-button:hover {
  background-color: #f0f0f0;
}

.hover:hover {
  background-color: #f0f0f0;
}

#side-menu-button svg {
  display: block;
  width: auto;
  height: 14px;
}

.side-menu-list-button {
  display: flex;
  justify-content: space-between;
  scroll-snap-align: start;
  width: 100%;
  padding: 4px 12px;
}

.side-menu-list-button input {
  width: 100%;
  box-sizing: border-box;
}

#body-container {
  flex-grow: 1;
  height: 100%;
}

#side-menu {
  padding: 46px 10px 10px;
  height: 100%;
  width: 350px;
  background-color: #e9e9e9;
  overflow: hidden;
}

.view-content {
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

#month-display {
  font-size: 32px;
  flex-shrink: 0;
  margin: 5px;
}

#weekdays {
  display: grid;
  text-align: right;
  grid-template-columns: repeat(7, 1fr);
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  border-bottom: 0.0625rem solid #ccc;
}

.day-name {
  margin: 5px;
}

#calendar-body {
  flex-grow: 1;
  height: 100%;

  /* for firefox */
  scrollbar-width: none;
  /* for edge and ie */
  -ms-overflow-style: none;
}

/* for webkit browsers (chrome, safari) */
#calendar-body::-webkit-scrollbar {
  display: none;
}

#calendar-content {
  height: 100%;
}

.week-row {
  height: calc(100% / 6);
  min-height: calc(100% / 6);

  /*snappy scrolling*/
  scroll-snap-align: start;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 0.0625rem solid #ccc;
}

.block-marker {
  position: relative;
  width: 100%;
  height: 0px;
}

.day-cell {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-start;
  color: var(--grey-color);
  /* color: #1f2937; */
  position: relative;
}

.day-cell:not(:last-child) {
  border-right: 0.0625rem solid #ccc;
}

.day-number {
  font-size: 14px;
  width: 30px;
  height: 30px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9999px; /* Full circle */
}

.day-cell.focused-month .day-number {
  color: black;
}

.day-cell.today .day-number {
  background-color: #EB5545;
  color: white;
}

.event-occurrence {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 19%;
  min-height: 20px;
  max-height: 30px;
  position: absolute;
  color: #000000;
  z-index: 1;
}

.event-occurrence.event-single {
  border-radius: 9999px;
  margin-left: 0;
  margin-right: 0;
}

.no-select {
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: default;
}

.flex-on {
  flex: 1;
}

.bar-holder {
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

#right-click-menu {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid var(--grey-color);
  border-radius: 8px;
  padding: 4px;
  flex-direction: column;
  z-index: 3;
  justify-content: flex-start;
  width: fit-content;

  left: var(--menu-left, 0); 
  top: var(--menu-top, 0);
}

#right-click-menu button {
  border-radius: 4px;
  padding: 4px 8px;
  width: 100%;
  white-space: nowrap
}


#right-click-menu button:hover {
  background-color: #BF616A;
}

#create-option-menu {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px;
  flex-direction: column;
  z-index: 2;
  justify-content: flex-start;
  width: fit-content;

  left: var(--menu-left, 0); 
  top: var(--menu-top, 0);
}

.bordered {
  border: 1px solid #ccc;
  border-radius: 6px;
}

.row-selection {
  padding: 0 25px;
}

.tiny-input {
  border-radius: 5px;
  background-color: var(--hover-color);
  padding: 0px;
}

.tiny-button {
  padding: 1px;
}

.searching-input {
  padding: 0px;
  width: 110px;
}

.searching-field {
  margin: 1px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2px;
}

.search-list-button {
  scroll-snap-align: start;
  display: flex;
  justify-content: space-between;
}

.login-field {
  margin: 1px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2px;
  height: 25px;
}

.arrow {
  color: #ccc;
  padding-right: 3px;
}

.text-box {
  margin: 1px;
}

#event-staff-number-map {
  margin: 1px;
}

.connect-button {
  margin-top: 5px;
}
