:root {
  --base0-color: #fff;
  --base1-color: #e9e9e9;
  --base2-color: #f9f9f9;

  --rose-color: #F7CEDD;
  --bran-red-color: #772338;

  --grey-color: #ccc;
  --hover-color: #f0f0f0;

  --red-color: #BF616A;
  --orange-color: #D08770;
  --yellow-color: #EBCB8B;
  --green-color: #A3BE8C;
  --violet-color: #B48EAD;
  --blue-color: #88C0D0;
}

@font-face {
  font-family: 'my-ssp';
  src: url('/regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: 'my-ssp'; 
}

hr {
  border: none;
  height: 1px;
  background-color: var(--grey-color);
  width: 100%;
}

input, button, textarea, select {
  font-family: inherit;
}

table {
  border-collapse: collapse;
}

td {
  padding: 1px;
  border: 1px solid #ccc;
}

input {
  font-size: 12px;
  border: none;
  background-color: transparent;
  outline: none;
}

.with-width {
  width: var(--width);
}

.l-input {
  font-size: 16px;
}

h3 {
  padding: 0px 4px 0px 4px;
  margin-bottom: 4px;
  margin-top: 10px;
}

h4 {
  margin: 2px;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  font-size: 12px;
}

.std-min {
  min-width: 15px;
  min-height: 18px;
}

.bg-transp {
  background-color: transparent;
}

.v-container {
  display: flex;
  flex-direction: column;
}

.h-container {
  display: flex;
  flex-direction: row;
}

.scrollable-box {
  overflow-y: scroll;
  scroll-snap-type: y mandatory; 
  -webkit-overflow-scrolling: touch;
}

.scroll-smooth {
  scroll-behavior: smooth; 
}

.scroll-auto {
  scroll-behavior: auto; 
}

.s-box {
  width: 120px;
  height: 200px;
  padding: 4px;
}

.m-box {
  height: 250px;
}

.with-padding {
  padding: 4px;
}

.hover:hover {
  background-color: var(--hover-color);
}

.clicked {
  color: var(--violet-color);
}

.color-grey {
  color: var(--grey-color);
}

.disp-none {
  display: none !important;  
}

.disp-flex {
  display: flex;
}

.dynamic-bg {
  background-color: var(--bg-color, transparent);
}

.disp-block {
  display: block;
}

.h-grow {
  flex-grow: 1 0 auto;
}

.justify-items-center {
  justify-items: center;
}

.justify-content-center {
  justify-content: center;
}

.txt-center {
  text-align: center;
}


.txt-justify-center {
  text-justify: center;
}

.wide {
  width: 100%;
}

.half-wide {
  width: 50%;
}

.grow {
  flex-grow: 1;
}

.align-items-center {
  align-items: center;
}

.fine {
  margin: 0px;
}

.bottom-right-border {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.bottom-border {
  border-bottom: 1px solid #ccc;
}

.right-border {
  border-right: 1px solid #ccc;
}

.m-width {
  width: 250px;
}

.snap-start {
  scroll-snap-align: start;
}

.num-field {
  width: 125px;
  border-bottom: 1px solid #ccc;
  display: flex;
}
