{{ define "month" }}
<div id="month-display">
  <strong>{{ .MonthName }}</strong> 2025
</div>

<div id="weekdays">
  <div class="day-name">Lun</div>
  <div class="day-name">Mar</div>
  <div class="day-name">Mer</div>
  <div class="day-name">Jeu</div>
  <div class="day-name">Ven</div>
  <div class="day-name">Sam</div>
  <div class="day-name">Dim</div>
</div>

<div id="calendar-body">
  <div id="calendar-content">
    {{template "weeksblock" (index .Blocks 0)}}
    <div class="block-marker"
      hx-get="/api/scrolling-up"
      hx-trigger="intersect root:calendar-body once"
      hx-target="#view-content"
      hx-swap="innerHTML"
      ></div>
    {{template "weeksblock" (index .Blocks 1)}}
    <div class="block-marker"
      hx-get="/api/scrolling-down"
      hx-trigger="intersect root:calendar-body once"
      hx-target="#view-content"
      hx-swap="innerHTML"
      ></div>
    {{template "weeksblock" (index .Blocks 2)}}
  </div>
</div>
{{ end }}

{{ define "weeksblock" }}
{{range $idx, $week := .Weeks}}
<div class="week-row">
  {{template "weekrow" $week}}
</div>
{{end}}
{{end}}

{{ define "weekrow" }}
{{ range .Days }}
<div class="day-cell{{if .IsToday}} today{{end}} no-select"
  data-id={{ .Id }}>
  <div class = "day-number no-select">{{ .DayNumber }}</div>
</div>
{{end}}
{{end}}
