{{ define "month" }}
<div id="month-display">
</div>

<div id="weekdays">
  <div class="day-name">Lun</div>
  <div class="day-name">Mar</div>
  <div class="day-name">Mer</div>
  <div class="day-name">Jeu</div>
  <div class="day-name">Ven</div>
  <div class="day-name">Sam</div>
  <div class="day-name">Dim</div>
</div>

<div id="calendar-body" class="scrollable-box scroll-smooth">
  <div id="calendar-content" class="v-container">
    {{template "weeksblock" (index .Blocks 0)}}
    <div class="block-marker"></div>
    {{template "weeksblock" (index .Blocks 1)}}
    <div class="block-marker"></div>
    {{template "weeksblock" (index .Blocks 2)}}
  </div>
</div>
{{ end }}

{{ define "weeksblock" }}
{{range $idx, $week := .Weeks}}
<div class="week-row">
  {{template "weekrow" $week}}
</div>
{{end}}
{{end}}

{{ define "weekrow" }}
{{ range .Days }}
<div class="day-cell no-select">
  <div class="day-number no-select"></div>
  <div class="bar-holder"></div>
</div>
{{end}}
{{end}}
