{{ define "month" }}
<div id="month-display">
  <strong>{{ .MonthName }}</strong> 2025
</div>

<div id="weekdays">
  <div class="day-name">Lun</div>
  <div class="day-name">Mar</div>
  <div class="day-name">Mer</div>
  <div class="day-name">Jeu</div>
  <div class="day-name">Ven</div>
  <div class="day-name">Sam</div>
  <div class="day-name">Dim</div>
</div>

<div id="calendar-body">
  <div id="calendar-content">
    {{range .Blocks}}{{template "weeksblock" .}}{{end}}
  </div>
</div>
{{ end }}

{{ define "weeksblock" }}
<div class="weeks-block">
  <div class="block-marker-top" data-block-offset="{{ .BlockOffset }}"></div>
  {{range $idx, $week := .Weeks}}
  <div class="week-row">
    {{template "weekrow" $week}}
  </div>
  {{end}}
</div>
{{end}}

{{ define "weekrow" }}
{{ range .Days }}
<div class="day-cell{{if .IsToday}} today{{end}}">
  <div class = "day-number">{{ .DayNumber }}</div>
</div>
{{end}}
{{end}}
