@font-face {
  font-family: 'my-ssp';
  src: url('/regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: 'my-ssp'; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
}

.button-container {
    flex: none;
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0 auto;
}

.button-container button {
    padding: 5px 18px;
    border: none;
    background-color: white;
    cursor: pointer;
    position: relative;
    font-family: 'my-ssp'; 
}

.button-container button:hover {
    background-color: #f0f0f0;
}

.button-container button:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 20%;
    height: 60%;
    width: 1px;
    background-color: #ccc;
}

#side-menu-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#side-menu-button:hover {
    background-color: #f0f0f0;
}

#side-menu-button svg {
  display: block;
  width: 20px;
  height: auto;
}

#side-menu-container {
}


.side-menu {
}

.event-item:hover {
  background-color: #e9ecef;
}

.event-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
}

#body-container {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#side-menu {
  flex-grow: 1;
  height: 100%;
  width: 250px;
  background-color: #e9e9e9;
}

#view-content {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#month-display {
  font-size: 32px;
  flex-shrink: 0;
  margin: 5px;
}

#weekdays {
  display: grid;
  text-align: right;
  grid-template-columns: repeat(7, 1fr);
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  border-bottom: 0.0625rem solid #ccc;
}

.day-name {
  margin: 5px;
}

#calendar-body {
  flex-grow: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; 
  scroll-behavior: smooth; 
  -webkit-overflow-scrolling: touch;
  height: 100%;

  /* for firefox */
  scrollbar-width: none;
  /* for edge and ie */
  -ms-overflow-style: none;
}

/* for webkit browsers (chrome, safari) */
#calendar-body::-webkit-scrollbar {
    display: none;
}

#calendar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.week-row {
  height: calc(100% / 6);
  min-height: calc(100% / 6);

  /*snappy scrolling*/
  scroll-snap-align: start;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 0.0625rem solid #ccc;
}

.block-marker {
  position: relative;
	width: 100%;
	height: 0px;
}

.day-cell {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-start;
  color: #1f2937;
  position: relative;
}

.day-cell:not(:last-child) {
  border-right: 0.0625rem solid #ccc;
}

.day-number {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px; /* Full circle */
}

.day-cell.today .day-number {
  background-color: #EB5545;
  color: white;
}

.event-bar {
  height: calc(100% / 10);
  width: 100%;
  min-height: 20px;
  max-height: 30px;
  text-align: center;
  position: absolute;
  background-color: #F7CEDD;
  color: #772338;
  z-index: 10;
}

.event-bar.event-single {
  border-radius: 9999px;
  margin-left: 0;
  margin-right: 0;
}

.no-select {
    user-select: none;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    cursor: default;
}

.bar-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

