@font-face {
  font-family: 'my-ssp';
  src: url('/regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: 'my-ssp'; 
}

.button-container {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
}

.button-container button {
    padding: 5px 18px;
    border: none;
    background-color: white;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
    font-family: 'my-ssp'; 
}

.button-container button:hover {
    background-color: #f0f0f0;
}

.button-container button:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 20%;
    height: 60%;
    width: 1px;
    background-color: #ccc;
}

.header-container {
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
}

#view-content {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}


#month-display {
  font-size: 32px;
  flex-shrink: 0;
  margin: 5px;
}

#weekdays {
  display: grid;
  text-align: right;
  grid-template-columns: repeat(7, 1fr);
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  border-bottom: 0.0625rem solid #ccc;
}

.day-name {
  margin: 5px;
}

#calendar-body {
  flex-grow: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; 
  scroll-behavior: smooth; 
  -webkit-overflow-scrolling: touch;
  height: 100%;

  /* for firefox */
  scrollbar-width: none;
  /* for edge and ie */
  -ms-overflow-style: none;
}

/* for webkit browsers (chrome, safari) */
#calendar-body::-webkit-scrollbar {
    display: none;
}

#calendar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.weeks-block {
  display: contents;
}

.week-row {
  height: calc(100% / 6);
  min-height: calc(100% / 6);

  /*snappy scrolling*/
  scroll-snap-align: start;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 0.0625rem solid #ccc;
}

.block-marker {
  position: relative;
	width: 100%;
	height: 0px;
}

.day-cell {
  padding: 0.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-start;
  transition: background-color 150ms ease-in-out;
  color: #1f2937;
}

.day-cell:not(:last-child) {
  border-right: 0.0625rem solid #ccc;
}

.day-number {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px; /* Full circle */
}

.day-cell.today .day-number {
  background-color: #EB5545;
  color: white;
}
