@font-face {
  font-family: 'my-ssp';
  src: url('/regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: 'my-ssp'; 
}

input, button, textarea, select {
  font-family: inherit;
}

input {
  border: none;
}

input[type="text"]:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  text-align: left;
  font-size: 12px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  flex-shrink: 0;
}

.button-container {
  flex: none;
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;
  margin: 0 auto;
}

.button-container button {
  padding: 5px 18px;
  position: relative;
}

.button-container button:hover {
  background-color: #f0f0f0;
}

.button-container button:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  width: 1px;
  background-color: #ccc;
}

#side-menu-button {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#side-menu-button:hover {
  background-color: #f0f0f0;
}

#side-menu-button svg {
  display: block;
  width: auto;
  height: 14px;
}

#side-menu-container {
}

.side-menu {
  padding: 46px 10px 10px;
  display: flex;
  flex-direction: column;
}

.event-button {
  width: 100%;
  padding: 4px 12px;
}

.event-item:hover {
  background-color: #e9ecef;
}

#body-container {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#side-menu {
  flex-grow: 1;
  height: 100%;
  width: 250px;
  background-color: #e9e9e9;
}

#view-content {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#month-display {
  font-size: 32px;
  flex-shrink: 0;
  margin: 5px;
}

#weekdays {
  display: grid;
  text-align: right;
  grid-template-columns: repeat(7, 1fr);
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  border-bottom: 0.0625rem solid #ccc;
}

.day-name {
  margin: 5px;
}

#calendar-body {
  flex-grow: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; 
  scroll-behavior: smooth; 
  -webkit-overflow-scrolling: touch;
  height: 100%;

  /* for firefox */
  scrollbar-width: none;
  /* for edge and ie */
  -ms-overflow-style: none;
}

/* for webkit browsers (chrome, safari) */
#calendar-body::-webkit-scrollbar {
  display: none;
}

#calendar-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.week-row {
  height: calc(100% / 6);
  min-height: calc(100% / 6);

  /*snappy scrolling*/
  scroll-snap-align: start;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 0.0625rem solid #ccc;
}

.block-marker {
  position: relative;
  width: 100%;
  height: 0px;
}

.day-cell {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-start;
  color: #1f2937;
  position: relative;
}

.day-cell:not(:last-child) {
  border-right: 0.0625rem solid #ccc;
}

.day-number {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9999px; /* Full circle */
}

.day-cell.today .day-number {
  background-color: #EB5545;
  color: white;
}

.event-occurence {
  height: 19%;
  width: 100%;
  min-height: 20px;
  max-height: 30px;
  text-align: center;
  position: absolute;
  background-color: #F7CEDD;
  color: #772338;
  z-index: 10;
}

.event-occurence.event-single {
  border-radius: 9999px;
  margin-left: 0;
  margin-right: 0;
}

.no-select {
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: default;
}

.bar-holder {
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

#right-click-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2px;
  flex-direction: column;
  z-index: 1000;
  justify-content: flex-start;
  width: fit-content;
}

#right-click-menu button {
  border-radius: 4px;
  padding: 4px 8px;
  width: 100%;
  white-space: nowrap
}

#right-click-menu button:hover {
  background-color: #BF616A;
}

#create-option-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 2px;
  flex-direction: column;
  z-index: 1000;
  justify-content: flex-start;
  width: fit-content;
}
